    * {
        padding: 0px;
        margin: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-color: #e7ebff;
        position: relative;
    }

    .header {
        margin: 10px;
        width: 395px;
        height: 50px;
        background-color: white;
        border-radius: 10px;
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
    }

    .navbut {
        width: 50px;
        height: 25px;
        margin-right: 5px;
        border-radius: 5px;
        background-color: rgb(255, 0, 0);
        color: white;
        border: 1px red solid;
    }

    .navbut:active {
        scale: 0.9;
    }

    .dboard {
        display: flex;
        width: 425px;
        height: 300px;
        justify-content: center;
        margin-top: 35px;
    }

    .Total,
    .Income,
    .Expense,
    .Saving {
        background-color: white;
        width: 385px;
        height: 130px;
        margin-top: 30px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.301);
    }

    .Total h3 {
        padding: 20px;
        font-size: medium;
        color: rgb(136, 136, 218);
    }

    .Income h3 {
        padding: 20px;
        font-size: medium;
        color: rgb(136, 136, 218);
    }

    .Expense h3 {
        padding: 20px;
        font-size: medium;
        color: rgb(136, 136, 218);
    }

    .Saving h3 {
        padding: 20px;
        font-size: medium;
        color: rgb(136, 136, 218);
    }

    .Total p {
        padding-left: 20px;
        color: black;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .Income p {
        padding-left: 20px;
        color: green;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .Expense p {
        padding-left: 20px;
        color: red;
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .Saving p {
        padding-left: 20px;
        color: rgb(38, 38, 226);
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    .actionbody {
        width: 400px;
        height: 180px;
        display: flex;
        padding: 12.5px;
    }

    .action {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: 180px;
        background-color: white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.301);
        border-radius: 10px;
        padding: 5px;
    }

    .actionbtnI {
        width: 180px;
        height: 50px;
        margin: 5px;
        border-radius: 8px;
        color: white;
        background-color: green;
        border: 1px green solid;
        font-size: large;
    }

    .actionbtnE {
        width: 180px;
        height: 50px;
        margin: 5px;
        border-radius: 8px;
        color: white;
        background-color: red;
        border: 1px red solid;
        font-size: large;
    }

    .actionbtnS {
        width: 180px;
        height: 50px;
        margin: 5px;
        border-radius: 8px;
        color: white;
        background-color: blue;
        border: 1px blue solid;
        font-size: large;
    }

    .actionbtnA {
        width: 180px;
        height: 50px;
        margin: 5px;
        border-radius: 8px;
        color: white;
        background-color: rgb(17, 201, 155);
        border: 1px rgb(17, 201, 155) solid;
        ;
        font-size: large;
    }

    .actionbtnI:active {
        scale: 0.9;
    }

    .actionbtnE:active {
        scale: 0.9;
    }

    .actionbtnS:active {
        scale: 0.9;
    }

    .actionbtnA:active {
        scale: 0.9;
    }

    .transaction {
        margin-top: 50px;
        background-color: white;
        border-radius: 10px;
        margin: 10Px;
        margin-top: 50px;
        width: 405px;
    }

    .trans {
        position: relative;
        z-index: 1;
    }

    .form {
        width: 425px;
        height: 450px;
        position: absolute;
        top: 300px;
        z-index: 2;
    }

    .incomeform {
        height: 430px;
        width: 405px;
        margin: 10px;
        background-color: rgb(90, 241, 44);
        border-radius: 10px;
        display: none;
    }

    .expenseform {
        height: 430px;
        width: 405px;
        margin: 10px;
        background-color: rgb(236, 52, 52);
        border-radius: 10px;
        display: none;
    }

    .saveform {
        height: 160px;
        width: 405px;
        margin: 10px;
        margin-top: 300px;
        background-color: blue;
        border-radius: 10px;
        display: none;
    }

    input,
    select {
        width: 375px;
        margin: 10px;
        height: 30px;
        border: green 1px solid;
        border-radius: 5px;
        padding-left: 8px;
        font-size: 15px;
    }

    .formtitle {
        padding: 10px;
    }

    .formbtnI {
        width: 100px;
        height: 30px;
        border-radius: 8px;
        background-color: rgb(123, 252, 123);
        border: 1px black solid;
        margin-left: 152.5px;
        margin-top: 20px;
    }

    .formbtnE {
        width: 100px;
        height: 30px;
        border-radius: 8px;
        background-color: red;
        border: 1px black solid;
        margin-left: 152.5px;
        margin-top: 20px;
    }

    .formbtnS {
        width: 100px;
        height: 30px;
        border-radius: 8px;
        background-color: rgb(72, 72, 247);
        border: 1px black solid;
        margin-left: 152.5px;
        margin-top: 20px;
    }

    .formbtn:active {
        scale: 0.9;
    }

    table {
        width: 100%;

    }

    th,
    td {
        padding: 15px;
        border: 1px solid white;
        text-align: left;

    }

    tr:hover {
        background: #f5f5f5;
    }

    .tblbut {
        position: absolute;
        top: 10px;
        left: 295px;
        height: 40px;
        width: 100px;
        border-radius: 10px;
        border: 1px black solid;
        color: white;
        background-color: black;
    }