* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e7ebff;
    position: relative;
}

.header {
    padding: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbut {
    width: 70px;
    height: 35px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
    color: white;
    border: 1px red solid;
}

.navbut:active {
    scale: 0.9;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    position: relative;
}

.dcard {
    width: 400px;
    height: 130px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.dcard h3 {
    padding: 30px;
    color: rgb(143, 143, 255);
    font-size: 20px;
}

.dcard p {
    position: absolute;
    top: 70px;
    padding-left: 40px;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.transaction {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
}

.trans {
    position: relative;
}

.tblbut {
    position: absolute;
    top: 10px;
    left: 295px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 1px black solid;
    color: white;
    background-color: black;
}

table {
    width: 100%;

}

th {
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    border-radius: 8px;
}

td {
    padding: 15px;
    border: 1px solid white;
    text-align: left;
    border-radius: 8px;
}

tr:hover {
    background: #f5f5f5;
}

.actionbody {
    position: absolute;
    top: 100px;
    width: 720px;
    height: 490px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.action {
    position: relative;
}

.actionbtn {
    width: 180px;
    height: 50px;
    margin: 5px;
    border-radius: 8px;
    color: white;
    font-size: large;
    margin-top: 55px;
}

.form {
    width: 425px;
    height: 450px;
    position: absolute;
    top: 20px;
    left: 300px;
    z-index: 2;
}

.guidtransaction {
    height: 430px;
    width: 405px;
    margin: 10px;
    font-family: cursive;
    display: flex;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    margin-top: 150px;
    border-radius: 10px;
}

.incomeform {
    height: 430px;
    width: 405px;
    margin: 10px;
    background-color: rgb(90, 241, 44);
    border-radius: 10px;
    display: none;
}

.expenseform {
    height: 430px;
    width: 405px;
    margin: 10px;
    background-color: rgb(236, 52, 52);
    border-radius: 10px;
    display: none;
}

.saveform {
    height: 160px;
    width: 405px;
    margin: 10px;
    margin-top: 145px;
    background-color: blue;
    border-radius: 10px;
    display: none;
}

input,
select {
    width: 375px;
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    padding-left: 8px;
    font-size: 15px;
}

.formtitle {
    padding: 10px;
}

.formbtn {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border: 1px black solid;
    margin-left: 152.5px;
    margin-top: 20px;
}

.formbtn:active {
    scale: 0.9;
}

.amountrange {
    position: absolute;
    top: 27px;
    left: 800px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 250px;
    width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.amountrange input {
    width: 1000px;
}

.p1 {
    position: absolute;
    left: 50px;
    top: 9px;
    font-size: 20px;
}

.p2 {
    position: absolute;
    left: 50px;
    top: 92px;
    font-size: 20px;
}

.p3 {
    position: absolute;
    left: 50px;
    top: 175px;
    font-size: 20px;
}

#balper {
    position: absolute;
    top: 9px;
    font-size: 20px;
    right: 5%;
}

#expper {
    position: absolute;
    top: 92px;
    font-size: 20px;
    right: 5%;
}

#savper {
    position: absolute;
    top: 175px;
    font-size: 20px;
    right: 5%;
}

.budget {
    position: absolute;
    top: 305px;
    left: 800px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    height: 250px;
    width: 1080px;
    border-radius: 10px;
}

@media screen and (max-width: 425px) {

    .container{
        max-width: 425px;
    }

    .dboard {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .dashboard {
       display: block;
       margin-left: 15px;
    }
    
    .dcard{
        width: 395px;
        margin-bottom: 15px;
    }

    .actionbody{
        top: 520px;
        width: 345px;
    }

    #income{
        margin-top: 150px;
    }

    #expense{
        margin-top: 300px;
    }

    #saving{
        margin-top: 450px;
    }

    .tblbut{
        position: absolute;
        left: 250px;
    }

    .action{
        display: flex;
        position: relative;
    }

    .actionbtn{
        margin-top: 0px;
        height: 40px;
    }

    .actionbtn:active{
        scale: 0.9;
        border:gold 10px solid;
    }

    .incomeform,.expenseform,.saveform,.guidtransaction{
        position: absolute  ;
        top: 40px;
        right:360px;
        width: 365px;
    }

    input{
        width: 335px;
    }

    select {
        width: 345px;
    }

    .amountrange {
        left: 20px;
        top: 580px;
        width: 385px;
    }

    .budget{
        left: 20px;
        top: 860px;
        width: 385px;
    }
}